img {
    max-width: 70%;
  }

  #movieIn{
      margin-top: 20px;
      position:
  }

  #ratingIn{
      margin-top: 10px;
      margin-left: 33px;
  }
  #addToList{
      margin-top: 40px;
      margin-left:140px;
      padding: 10px;
      border-radius: 10px;
      font-size: 20px;
  }
  #list td {
  width: 400px;
  height: 50px;
  font-size: 17px;
  border: solid 1px;
  text-align: center;
  }

  #list{
      margin-top: 20px;
  }

  #remove{
      margin-left: 10px;
  }